<a
  (click)="toggleMenuMobile()"
  class="btn-menu-mobile">
  <span class="fa fa-bars"></span>
</a>
<div class="logo">
  <img src="assets/images/lol-team-builder.svg" class="logo__image" alt="">
</div>
<ul
  [class.menu--show]="showMenuMobile"
  class="menu">
  <li class="menu__item">
    <a
      (click)="hideMenuMobile()"
      routerLinkActive="menu__link--active"
      routerLink="vacancies" class="menu__link">Vagas</a>
  </li>
  <li class="menu__item">
    <a
      (click)="hideMenuMobile()"
      routerLinkActive="menu__link--active"
      routerLink="teams"
      class="menu__link">Equipes</a>
  </li>
  <li class="menu__item">
    <a
      (click)="hideMenuMobile()"
      class="menu__link">Ajuda</a>
  </li>
</ul>
<div class="user">
  <a
    *ngIf="!isLoggedIn"
    routerLink="login"
    class="user__login">Entrar</a>
  <ng-container *ngIf="isLoggedIn">
    <img
      (click)="toggleMenuUser()"
      class="user__icon"
      title="lukahenry"
      src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/789.png" alt="">
      <div
        (click)="toggleMenuUser()"
        class="user__name">{{ nickname }}</div>
  </ng-container>
  <ul
    [class.menu--show]="showMenuUser"
    class="menu menu--user">
    <li class="menu__item">
      <a
        (click)="hideMenuUser()"
        routerLinkActive="menu__link--active"
        routerLink="/account"
        class="menu__link">Minha conta</a>
    </li>
    <li class="menu__item">
      <a
        (click)="logout()"
        routerLinkActive="menu__link--active"
        routerLink="teams"
        class="menu__link">Sair</a>
    </li>
  </ul>
</div>
