<table class="table-list">
  <thead>
  <tr>
    <th>Posição</th>
    <th>Nome</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let candidate of candidates"
    class="member">
    <td>
      <img [src]="positionIconById(candidate.vacancy.role_id)" alt="" class="member__position">
    </td>
    <td>
      <img
        class="member__icon"
        title="{{ candidate.summoner.name }}"
        [src]="profileIconById(candidate.summoner.profile_icon_id)" alt="">
      <span class="member__nickname">{{ candidate.summoner.name }}</span>
    </td>
    <td class="table-list__actions">
      <button
        (click)="reject(candidate.id)"
        class="button button--warning">Recusar</button>
      <button
        (click)="accept(candidate.id)"
        class="button button--primary ml-3">Aceitar</button>
    </td>
  </tr>
  </tbody>
</table>
