<form
  [class.ng-submitted]="submitted"
  [formGroup]="form" class="container-fluid px-0">
  <div class="row">
    <div class="col-12 col-md-2">
      <div class="form-group required">
        <label for="abbr">Sigla</label>
        <input
          formControlName="abbreviation"
          type="text" id="abbr" class="form-control">
        <ltb-form-errors [form]="form" controlName="abbreviation"></ltb-form-errors>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group required">
        <label for="name">Nome</label>
        <input
          formControlName="name"
          type="text" id="name" class="form-control">
        <ltb-form-errors [form]="form" controlName="name"></ltb-form-errors>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="form-group">
        <label for="tier-min">Tier mínimo</label>
        <select
          formControlName="tier_min"
          id="tier-min" class="form-control">
          <option value="">Selecione</option>
          <option [ngValue]="tier.id" *ngFor="let tier of tiers">{{ tier.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <h5 class="mt-4">Modos de jogo</h5>
  <div class="row">
    <div
      formArrayName="summonersRift"
      class="col-12 col-md mb-3 mb-lg-0">
      <strong>Summoner's Rift</strong>
      <div
        class="form-check"
        *ngFor="let option of optionsByMap('summonersRift'); let i=index;">
        <ng-container [formGroupName]="i">
          <input
            formControlName="checked"
            class="form-check-input" type="checkbox" id="sr-{{ option.get('id').value }}">
          <label class="form-check-label" for="sr-{{ option.get('id').value }}">
            {{ option.get('name').value }}
          </label>
        </ng-container>
      </div>
    </div>
    <div
      formArrayName="twistedTreeline"
      class="col-12 col-md mb-3 mb-lg-0">
      <strong>Twisted Treeline</strong>
      <div
        class="form-check"
        *ngFor="let option of optionsByMap('twistedTreeline'); let i=index;">
        <ng-container [formGroupName]="i">
          <input
            formControlName="checked"
            class="form-check-input" type="checkbox" id="tt-{{ option.get('id').value }}">
          <label class="form-check-label" for="tt-{{ option.get('id').value }}">
            {{ option.get('name').value }}
          </label>
        </ng-container>
      </div>
    </div>
    <div
      formArrayName="howlingAbyss"
      class="col-12 col-md mb-3 mb-lg-0">
      <strong>Howling Abyss</strong>
      <div
        class="form-check"
        *ngFor="let option of optionsByMap('howlingAbyss'); let i=index;">
        <ng-container [formGroupName]="i">
          <input
            formControlName="checked"
            class="form-check-input" type="checkbox" id="ha-{{ option.get('id').value }}">
          <label class="form-check-label" for="ha-{{ option.get('id').value }}">
            {{ option.get('name').value }}
          </label>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-end mt-3">
    <div class="col-12 col-md-2">
      <button
        (click)="save()"
        class="button button--primary btn-block btn-md-">
        <ng-container *ngIf="editing">Salvar</ng-container>
        <ng-container *ngIf="!editing">Criar</ng-container>
      </button>
    </div>
  </div>
</form>

