<div class="content">
  <div class="content__header">
    <h3 class="content__title">Suas equipes</h3>
    <a routerLink="new" class="button button--primary">Criar equipe</a>
  </div>
  <div class="content__body">
    <table class="table-list">
      <thead>
      <tr>
        <th>Nome</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="team">
        <td>
          <span class="team__abbr">TPB</span>Tibbers, porrada e bomba
        </td>
        <td class="table-list__actions">
          <button
            routerLink="/teams/1"
            class="button button--primary">Gerenciar</button>
        </td>
      </tr>
      <tr>
        <td>
          <span class="team__abbr">HYP</span>Harry Poke
        </td>
        <td class="table-list__actions">
          <button
            routerLink="/teams/3"
            class="button button--primary">Gerenciar</button>
        </td>
      </tr>
      <tr>
        <td>
          <span class="team__abbr">ADD</span>Armada Dumbledore
        </td>
        <td class="table-list__actions">
          <button
            routerLink="/teams/2"
            class="button button--primary">Gerenciar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
