<div class="content">
  <div class="content__header">
    <h3 class="content__title">Suas equipes</h3>
    <a routerLink="new" class="button button--primary">Criar equipe</a>
  </div>
  <div class="content__body">
    <div
      *ngIf="!teams || teams.length === 0"
      class="empty-list">
      Você não possui nenhuma equipe no momento.
    </div>
    <table
      *ngIf="teams?.length !== 0"
      class="table-list">
      <thead>
      <tr>
        <th>Nome</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let team of teams">
      <tr class="team">
        <td>
          <span class="team__abbr">{{ team.abbreviation }}</span>{{ team.name }}
        </td>
        <td class="table-list__actions">
          <button
            *ngIf="owner(team)"
            [routerLink]="['/teams', team.id]"
            class="button button--primary">Gerenciar</button>
          <button
            *ngIf="!owner(team)"
            [routerLink]="['/teams', team.id]"
            class="button button--primary">Detalhes</button>
        </td>
      </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
