<div class="content account">
  <div class="content__header">
    <h3 class="content__title" *ngIf="!editing">Nova conta</h3>
    <h3 class="content__title" *ngIf="editing">Minha conta</h3>
  </div>
  <form
    [class.ng-submitted]="submitted"
    [formGroup]="form">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group required">
          <label for="nickname" class="form-control-label">Nome de invocador</label>
          <input
            formControlName="nickname"
            type="text" id="nickname" class="form-control">
          <ltb-form-errors [form]="form" controlName="nickname"></ltb-form-errors>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group required">
          <label for="region" class="form-control-label">Região</label>
          <select
            formControlName="region_id"
            class="form-control" id="region">
            <option [ngValue]="null">Selecione</option>
            <option [ngValue]="region.id" *ngFor="let region of regions">{{ region.name }}</option>
          </select>
          <ltb-form-errors [form]="form" controlName="region_id"></ltb-form-errors>
        </div>
      </div>
      <div class="col-12 col-md-6 mr-lg-auto">
        <div class="form-group required">
          <label for="email" class="form-control-label">Email</label>
          <input
            formControlName="email"
            type="text" id="email" class="form-control">
          <ltb-form-errors [form]="form" controlName="email"></ltb-form-errors>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group required">
          <label for="password" class="form-control-label">Senha</label>
          <input
            formControlName="password"
            type="password" id="password" class="form-control">
          <ltb-form-errors [form]="form" controlName="password"></ltb-form-errors>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group required">
          <label for="confirm" class="form-control-label">Confirmar senha</label>
          <input
            formControlName="confirm"
            type="password" id="confirm" class="form-control">
        </div>
        <ltb-form-errors [form]="form" controlName="confirm"></ltb-form-errors>
      </div>
    </div>
    <div class="row justify-content-md-end">
      <div class="col-12 col-md-auto">
        <button
          (click)="save()"
          class="account__btn button button--primary">
          <ng-container *ngIf="editing">Salvar</ng-container>
          <ng-container *ngIf="!editing">Criar conta</ng-container>
        </button>
      </div>
    </div>
  </form>
</div>
