:host {
  display: flex;
  height: 100%;
  width: 100%;
}
.account {
  &__btn {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .account {
    &__btn {
      width: auto;
    }
  }
}
