<div class="content">
  <div class="content__header">
    <h3
      *ngIf="editing"
      class="content__title">{{ team.abbreviation }} - {{ team.name }}</h3>
    <h3
      *ngIf="!editing"
      class="content__title">Nova equipe</h3>
    <button
      *ngIf="editing && owner"
      (click)="remove()"
      class="button button--warning ml-auto mr-3">Excluir equipe</button>
    <button
      *ngIf="!owner"
      (click)="leave()"
      class="button button--warning ml-auto mr-3">Sair da equipe</button>
    <a href="/teams" class="button">Voltar</a>
  </div>
  <div
    *ngIf="owner"
    class="content__body">
    <ng-container *ngIf="editing">
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col">
            <ul class="tabs">
              <li class="tabs__item">
                <a
                  [class.tabs__link--active]="tab === tabs.TeamInfo"
                  (click)="toggleTab(tabs.TeamInfo)"
                  class="tabs__link">Dados</a>
              </li>
              <li class="tabs__item">
                <a
                  [class.tabs__link--active]="tab === tabs.TeamVacancies"
                  (click)="toggleTab(tabs.TeamVacancies)"
                  class="tabs__link">Vagas</a>
              </li>
              <li class="tabs__item">
                <a
                  [class.tabs__link--active]="tab === tabs.TeamCandidates"
                  (click)="toggleTab(tabs.TeamCandidates)"
                  class="tabs__link">Candidatos</a>
              </li>
              <li class="tabs__item">
                <a
                  [class.tabs__link--active]="tab === tabs.TeamMembers"
                  (click)="toggleTab(tabs.TeamMembers)"
                  class="tabs__link">Membros</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container [ngSwitch]="tab">
      <ltb-teams-form
        *ngSwitchCase="tabs.TeamInfo"
        [(team)]="team"
        [tiers]="tiers"
        [maps]="maps"></ltb-teams-form>
      <ng-container *ngSwitchCase="tabs.TeamMembers">
        <ltb-teams-members [(team)]="team"></ltb-teams-members>
      </ng-container>
      <ng-container *ngSwitchCase="tabs.TeamCandidates">
        <ltb-teams-candidates [(team)]="team"></ltb-teams-candidates>
      </ng-container>
      <ltb-teams-vacancies
        *ngSwitchCase="tabs.TeamVacancies"
        [roles]="roles"
        [team]="team"></ltb-teams-vacancies>
    </ng-container>
  </div>
  <ltb-teams-resume
    *ngIf="!owner"
    [team]="team">
  </ltb-teams-resume>
</div>
