<form
  [formGroup]="form"
  class="container-fluid px-0">
  <div class="row align-items-end mb-3">
    <div class="col-12 col-md-4">
      <div class="form-group mb-0">
        <label for="tier-min">Posição</label>
        <select
          formControlName="role_id"
          id="tier-min"
          class="form-control">
          <option [ngValue]="null">Selecione</option>
          <option
            *ngFor="let role of roles"
            [ngValue]="role.id">{{ role.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <button
        (click)="create()"
        class="button button--primary">Anunciar vaga</button>
    </div>
  </div>
</form>
<table class="table-list">
  <thead>
  <tr>
    <th>Posição</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let vacancy of vacancies"
    class="member">
    <td>
      <img [src]="positionImageBy(vacancy.role_id)" alt="" class="member__position">
    </td>
    <td class="table-list__actions">
      <button class="button button--warning">Remover</button>
    </td>
  </tr>
  </tbody>
</table>
