@import "variables";

.tabs {
  border-bottom: 1px solid $border-color;
  list-style: none;
  padding: 0 0 1rem;
  margin: 1rem 0;

  &__link {
    border-bottom: 1px solid transparent;
    color: $link-color;
    display: block;
    margin-bottom: calc(-1rem - 1px) ;
    padding-bottom: 1rem;
    &:hover,
    &:focus {
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
    &--active {
      color: #fff;
      border-bottom: 1px solid #ffaa40;
    }
  }
}

@media (min-width: 0px) {
  .tabs {
    &__item {
      display: inline-block;
      & + & {
        margin-left: 1rem;
      }
    }
  }
}
