@import "variables";

.view {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  &__header {
    align-items: center;
    background-color: $bg-color;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
    justify-content: flex-start;
    height: 60px;
    max-width: 100%;
  }
  &__body {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow: hidden;
    overflow-y: scroll;
  }
  &__footer {
    display: none;
  }
}
@media (min-width: 768px) {
  .view {
    &__footer {
      align-items: center;
      background-color: $bg-color;
      color: $text-color;
      display: flex;
      flex: 0 0 auto;
      font-size: 10px;
      height: 40px;
      justify-content: center;
    }
  }
}
