<div class="content">
  <div class="content__header">
    <h3 class="content__title">Vagas anunciadas</h3>
    <a
      (click)="toggleFilters()"
      class="button button--primary">Filtrar</a>
  </div>
  <form
    *ngIf="showFilters"
    class="row f filters">
    <div class="col-3 filters__item">
      <label class="f-label">Equipe</label>
      <input class="f-control" placeholder="Digite para buscar">
    </div>
    <div class="col filters__item">
      <span for="region" class="f-label">Região</span>
      <select class="f-control" id="region">
        <option value="BR1">Brasil</option>
        <option value="EUN1">EU Nordic &amp; East</option>
        <option value="EUW1">EU West</option>
        <option value="JP1">Japan</option>
        <option value="KR">Korea</option>
        <option value="LA1">Latin America North</option>
        <option value="LA2">Latin America South</option>
        <option value="NA1">North America</option>
        <option value="OC1">Oceania</option>
        <option value="PBE1">Public Beta</option>
        <option value="RU">Russia</option>
        <option value="TR1">Turkey</option>
      </select>
    </div>
    <div class="col filters__item">
      <span class="f-label">Posição</span>
      <select class="f-control">
        <option value="">Selecione</option>
        <option value="adc">Atirador</option>
        <option value="jg">Caçador</option>
        <option value="mid">Meio</option>
        <option value="sup">Suporte</option>
        <option value="top">Topo</option>
      </select>
    </div>
    <div class="col filters__item">
      <span class="f-label">Tier mínimo</span>
      <select class="f-control">
        <option value="">Selecione</option>
        <option value="1">Bronze</option>
        <option value="2">Prata</option>
        <option value="3">Ouro</option>
        <option value="4">Platina</option>
        <option value="5">Diamante</option>
        <option value="6">Mestre</option>
        <option value="7">Desafiante</option>
      </select>
    </div>
    <div class="col col-auto">
      <a href="" class="button d-inline-flex">Limpar</a>
    </div>
  </form>
  <div
    *ngIf="!vacancies || vacancies.length === 0"
    class="empty-list">
    Nenhuma vaga encontrada.
  </div>
  <table
    *ngIf="vacancies?.length !== 0"
    class="table-list advertisements-list">
    <thead>
    <tr>
      <th>Posição</th>
      <th>Tier min. <span class="fa fa-sort"></span></th>
      <th>Equipe <span class="fa fa-sort"></span></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let vacancy of vacancies"
      class="advertisement">
      <td>
        <img [src]="positionIcon(vacancy['role_id'])" class="advertisement__icon" alt="">
      </td>
      <td class="advertisement__tier-limits">
        {{ tierById(vacancy['tier_min']).name }}
      </td>
      <td class="advertisement__team">
        <a [routerLink]="['/teams/', vacancy['team_id']]">
          {{ vacancy['abbreviation'] }} - {{ vacancy['name'] }}
        </a>
      </td>
      <td>
        <a href="" class="button button--primary">Candidatar-se</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
