@import "src/scss/variables";

:host {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.advertisements-list {
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 100%;
  thead {
    color: $title-color;
    th {
      padding-bottom: .5rem;
    }
    th:first-child {
      width: 80px;
    }
  }
  tbody {
    tr {
      background-color: #202326;
      border: 1px solid #2f3639;
      transition: background-color 0.2s linear;
      &:hover {
        background-color: lighten(#202326, 5%);
      }
    }
    td {
      padding: .5rem;
      vertical-align: middle;
    }
    td:last-child {
      text-align: right;
    }
  }
  .advertisement {
    &__icon {
      height: auto;
      width: 30px;
    }
    &__tier-limits {
      color: #D5CBA4;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__team {
      font-weight: 400;
    }
  }
  .members {
    display: flex;
    font-size: 14px;
    &__icon {
      border-radius: 50%;
      display: inline-flex;
      height: 26px;
      overflow: hidden;
      width: 26px;
      img {
        height: auto;
        width: 100%;
      }
    }
    &__icon + &_icon {
      margin-left: 5px;
    }
  }
}

.filters {
  align-items: flex-end;
  color: $text-color;
  font-size: 14px;
  margin-bottom: 1rem;
  &__label {
    display: block;
    margin-bottom: .5rem;
  }
  &__select {
    background-color: rgba($bg-color, .4);
    border: 1px solid $border-color;
    color: $text-color;
    cursor: pointer;
    display: flex;
    height: 32px;
    width: 100%;
    option {
      color: #000;
    }
  }
}
