
<table class="table-list">
  <thead>
  <tr>
    <th>Posição</th>
    <th>Nome</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let member of team.members"
    class="member">
    <td>
      <img [src]="positionIconById(member.role_id)" alt="" class="member__position">
    </td>
    <td>
      <img
        class="member__icon"
        title="{{ member.user.nickname }}"
        [src]="profileIconById(member.user.summoner.profile_icon_id)" alt="">
      <span class="member__nickname">{{ member.user.nickname }}</span>
    </td>
    <td class="table-list__actions">
      <button class="button button--warning">Remover</button>
    </td>
  </tr>
  </tbody>
</table>
